<h4>Registre-se e mostre seu pet ao mundo!</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="E-mail"
      formControlName="email"
      required
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail inválido"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Nome completo"
      formControlName="fullName"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
      required
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched
    "
      mensagem="Usuário deve ser em letras minúsculas"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
    novoUsuarioForm.get('userName')?.errors?.['required'] &&
    novoUsuarioForm.get('userName')?.touched
  "
      mensagem="Usuário obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
      required
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('password')?.errors?.['required'] &&
        novoUsuarioForm.get('password')?.touched
      "
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>
  Já é cadastrado?
  <a [routerLink]="['']">Faça Login</a>
</p>
